<div class="modal" 
[ngClass]="{
  'is-active': modalActive
}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
    <h1 class="title is-1">Sign in</h1>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

      <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Ingrese su email" name="email"
            formControlName="email">
          </div>
          <p *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched" class="help is-danger">Debes ingresar tu email</p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Ingrese su contraseña" 
            name="password" formControlName="password">
          </div>
          <p *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched" class="help is-danger">Debes ingresar tu contraseña</p>
        </div>

        <div class="control">
          <input type="submit" value="Enviar" class="button is-link" [disabled]="signInForm.invalid">
        </div>

  </form>
</div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>
