
<div class="map-container">
    <div class="map-frame">
      <div id="map" leaflet 
      [leafletOptions]="options" 
      [leafletLayersControl]="layersControl"
      [leafletLayersControlOptions]="layersControlOptions" 
      [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)"
     (leafletMapZoomEnd)="onMapZoomEnd($event)"
      ></div>
    </div>
  </div>

  <leaflet-fullscreen-control
    [map]="map"
    [options]="fullscreenOptions"
    ></leaflet-fullscreen-control>

  <!-- <app-busqueda
  [position]='"topleft"'
  [map]='map'
></app-busqueda>

  <app-current-user
  [position]='"topright"'
  [map]='map'
></app-current-user> -->

      
  
  


