
<div id="search-map">
  <!-- <div class="search-wrapper"  [ngClass]="{'active':searchOpen}">
    <div class="input-holder">
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
        <input type="text" name="search" id="inputSearch" [(ngModel)]="inputSearch" class="search-input" placeholder="Type to search" />
        <button class="search-icon"><span></span></button>
    </form>
    </div>
    <span class="close" (click)="closeSearch();"></span>
    
  </div> -->
  <button class="button is-success">Search</button>
</div>

  <!-- <div id="search-result">
    hola mundo 
  </div> -->

 
  

